{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %}Formulário de recuperação de Senha{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ title }}</h1>
            <p>{% trans 'Esqueceu o seu password? Forneça o seu email abaixo, e enviaremos as instruções para você criar um novo.' %}
            </p>

            <form method="post">{% csrf_token %}
                    <div class="form-group field-email">
                        {{ form.email.errors }}
                        <label for="id_email">{% trans 'Email address:' %}</label>
                        {{ form.email }}
                    </div>
               
                <button type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary">Reinicializar minha senha</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}