{% extends 'base/base.html' %}
{% load static %}

{% block title %}Controle de aulas - Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">

                <h3>Matrículas abertas</h3>
                <!-- INICIO DO BOTAO PAGSEGURO -->
                <a href="https://pag.ae/7VM4nt2zr/button" target="_blank" title="Pagar com PagSeguro">
                    <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/180x25-pagar.gif"
                        alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a><!-- FIM DO BOTAO PAGSEGURO -->
                <!-- <h3 class="mt-4">Entre na fila de espera</h3>

                    <form action="https://gmail.us4.list-manage.com/subscribe/post?u=4c9573a39fabd6c508a19c4f7&amp;id=ae86c278f4"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="form-row align-items-center" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="form-row align-items-center">
                                <div class="col-auto">
                                    <label class="sr-only" for="mce-EMAIL">Email</label>
                                    <input type="email" value="" name="EMAIL" class="form-control required"
                                           id="mce-EMAIL"
                                           placeholder="exemplo@email.com.br">
                                </div>
                                <div class="col-auto">
                                    <label class="sr-only" for="mce-FNAME">Nome</label>
                                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                                           placeholder="Seu nome">
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                          name="b_4c9573a39fabd6c508a19c4f7_ae86c278f4"
                                                                                                          tabindex="-1"
                                                                                                          value="">
                                </div>
                                <div class="col-auto">
                                    <input type="submit" value="Salvar" name="subscribe"
                                           id="mc-embedded-subscribe" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </form> -->

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            Mais detalhes sobre o instrutor
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                <img src="{% static 'img/luciano_ramalho.jpg' %}" alt="Foto de luciano ramalho"
                                    class="img-thumbnail float-left mr-3">
                                Ramalho é autor do best seller Python Fluente, sucesso mundial em vendas. Hoje é
                                Principal Engineer na ThoughtWorks.

                                Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web. Liderou
                                times
                                para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
                                Como
                                instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
                                Globo.com e Itaú.

                                Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou a criar a
                                Associação Python Brasil e foi seu presidente.

                                É membro da Python Software Foundation e fundador do Garoa Hacker Clube, o primeiro
                                hackerspace do Brasil.
                                <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Python
                                    Fluente</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}